#adminAccess{
	background-color: #111947;
	border: 1px solid #111947;
	color: white;
	text-align: center;
	width: 100px;
	margin-top: 20px;
	margin-bottom: 30px;
	left: 50%;
	position: absolute;
	cursor: pointer;
	padding: 20px;
	margin-left: -50px;
}

#adminAccess:focus{
	outline: 0;
}